<article>
<nav>
  <ul>
    <li><a href="{{site.baseurl}}/aibigdata/" class="{% if page.url contains 'aibigdata' %}current{% endif %}">AI/Machine Learning & Big Data</a></li>
    <li><a href="{{site.baseurl}}/transitnewmobility/" class="{% if page.url contains 'transitnewmobility' %}current{% endif %}">Transit & New Mobility</a></li>
    <li><a href="{{site.baseurl}}/equity/" class="{% if page.url contains 'equity' %}current{% endif %}">Transport Equity</a></li>
    <li><a href="{{site.baseurl}}/accessibility/" class="{% if page.url contains 'accessibility' %}current{% endif %}">Accessibility</a></li>
    <li><a href="{{site.baseurl}}/travelbehavior/" class="{% if page.url contains 'travelbehavior' %}current{% endif %}">Travel Behavior</a></li>
    <!--<li><a href="{{site.baseurl}}/resilience/" class="{% if page.url contains 'resilience' %}current{% endif %}">Transport Resilience</a></li>-->
  </ul>
</nav>
</article>
