<nav>
  <ul>
    <li><a href="{{site.baseurl}}/aibigdata/" class="{% if page.url contains 'planets' %}current{% endif %}">AI/Machine Learning & Big Data</a></li>
    <li><a href="{{site.baseurl}}/transitnewmobility/" class="{% if page.url contains 'news' or page.url contains 'recently-discovered' %}current{% endif %}">Transit & New Mobility</a></li>
    <li><a href="{{site.baseurl}}/equity/" class="{% if page.url contains 'news' or page.url contains 'recently-discovered' %}current{% endif %}">Transport Equity</a></li>
    <li><a href="{{site.baseurl}}/accessibility/" class="{% if page.url contains 'comets' %}current{% endif %}">Accessibility</a></li>
    <li><a href="{{site.baseurl}}/travelbehavior/" class="{% if page.url contains 'comets' %}current{% endif %}">Travel Behavior</a></li>
    <li><a href="{{site.baseurl}}/resilience/" class="{% if page.url contains 'planets' %}current{% endif %}">Transport Resilience</a></li>
  </ul>
</nav>
